/*---------- base units ----------*/
$base-unit: 4px;
$base-units : ();

@for $i from 0 through 25 {
  $base-units: map-set($base-units, unquote('base-unit-'+ $i), $i*$base-unit);
  @debug $base-units;

}

/*---------- base numbers ----------*/
$base-size-numbers : ();

@for $i from 1 through 9 {
  $base-size-numbers: map-set($base-size-numbers, unquote('base-size-number-0--'+ $i), ($i/10));
}

@for $i from 0 through $max-number {
  $base-size-numbers: map-set($base-size-numbers, unquote('base-size-number-'+ $i), $i);
}
/*---------- $base-size-percent ----------*/
$base-size-percent : ();
@for $i from 1 through 9 {
  $base-size-percent: map-set($base-size-percent, unquote('base-size-percent-0--'+ $i), unquote(($i/10)+'%'));
}

@for $i from 0 through $max-percent {
  $base-size-percent: map-set($base-size-percent, unquote('base-size-percent-'+ $i), unquote(($i)+'%'));

}

/*---------- $base-size-vh ----------*/
$base-size-vh : ();

@for $i from 0 through $max-vh {
  $base-size-vh: map-set($base-size-vh, unquote('base-size-vh-'+ $i), unquote(($i)+'vh'));
}

/*---------- $base-size-vw ----------*/
$base-size-vw : ();

@for $i from 0 through $max-vw {
  $base-size-vw: map-set($base-size-vw, unquote('base-size-vw-'+ $i), unquote(($i)+'vw'));
}

/*---------- $base-size-px ----------*/
$base-size-px : ();

@for $i from 0 through $max-px {
  $base-size-px: map-set($base-size-px, unquote('base-size-px-'+ $i), unquote(($i)+'px'));
}

/*---------- $base-positions ----------*/
$absolute: absolute;
$fixed: fixed;
$relative: relative;
$unset: unset;
$fixed: fixed;
$static: static;
$sticky: sticky;
$flex: flex;
$inline-flex: inline-flex;
$start: start;
$flex-start: flex-start;
$flex-end: flex-end;
$center: center;
$end: end;
$wrap: wrap;
$normal: normal;
$nowrap: nowrap;
$column: column;
$hidden: hidden;
$visible: visible;
$block: block;
$block: block;
$inline-block: inline-block;
$inline-block: inline-block;
$none: none;
$auto: auto;
$scroll: scroll;
$pointer: pointer;
$solid: solid;
$space-around: space-around;
$space-between: space-around;



/*---------- $base-fonts ----------*/
$fontCode:'Source Code Pro', monospace;

/*---------- $base-urls ----------*/

//static 
$urlstatic: 'url/';

//static > atomic general directory
$urlgeneral: 'atomic/';

//static atomic icons
$urlicons: 'icons';
$urlpayments: 'payment-icons/';