// default input
[class*='_cs_input'] {
  outline: none;
  white-space: $nowrap;
  align-items: $center;
  justify-content: $center;
  display: $flex;
  overflow: $hidden;
  cursor: $pointer;
  position: $relative;
  font-family: $fontCode;
  color: getColor('white');
  height: getUnit('base-unit-10');
  border-radius: getUnit('base-unit-1');
  margin-bottom: getUnit('base-unit-2');
  padding-left: getUnit('base-unit-2');
  padding-right: getUnit('base-unit-8');
  background-color: getColor('litedark');
  width: getPercent('base-size-percent-100');
  border: getPx('base-size-px-1') $solid getColor('litedark');
  box-shadow: 0px 0px 10px #00000057;
}

._cs_input {
  // input types
  @each $key,
  $value in $atoms-button-input-select-types {
    &-#{$key} {
      background-color: $value;
      border: getPx('base-size-px-1') $solid $value;
    }
  }

  // input types 
  @each $key,
  $value in $atoms-input-font-sizes {
    &-#{$key} {
      font-size: $value;
      height: map_get($atoms-button-input-select-size, #{$key});
    }
  }
}
