// Here generate border-colors and ClassNames

@each $key,
$value in $base-colors {
  ._cs_border--#{$key} {
    border: getPx('base-size-px-1') $value;
  }
}

._cs_border {
  &-radius {
    &--d {
      border: getPx('base-size-px-4');
    }
  }

  @each $key,
  $value in $base-colors {
    &-#{$key} {
      border: getPx('base-size-px-1') $value;
    }
  }

  @each $key,
  $value in $base-colors {
    &-left--#{$key} {
      border-left: getPx('base-size-px-1') $value;
    }
  }

  @each $key,
  $value in $base-colors {
    &-top--#{$key} {
      border-top: getPx('base-size-px-1') $value;
    }
  }

  @each $key,
  $value in $base-colors {
    &-right--#{$key} {
      border-right: getPx('base-size-px-1') $value;
    }
  }

  @each $key,
  $value in $base-colors {
    &-bottom--#{$key} {
      border-bottom: getPx('base-size-px-1') $value;
    }
  }

}
