// default input
[class*='_cs_color'] {
}
._cs_color {

  @each $key,
  $value in $base-colors {
    &--#{$key} {
      color: $value;
    }
  }

  @each $key,
  $value in $base-colors {
    &-bg--#{$key} {
      background-color: $value;
        box-shadow: 0px 0px 10px #00000057
    }
  }
}
