//opacity
._cs_opacity {

  // element opacity
  @each $key,
  $value in $base-opacity {
    &-#{$key} {
      opacity: $value;
    }
  }
 //background opacity colors
  @each $key,
  $value in $base-opacity {
    &-bg {
      &-dark {
        &-#{$key} {
          color: rgba(getColor('dark'), $value);
        }
      }

      &-white {
        &-#{$key} {
          color: rgba(getColor('white'), $value)
        }
      }

      &-green {
        &-#{$key} {
          color: rgba(getColor('green'), $value)
        }
      }

      &-blue {
        &-#{$key} {
          color: rgba(getColor('blue'), $value)
        }
      }

      //background opacity colors
      &-bg {
        &-dark {
          &-#{$key} {
            background-color: rgba(getColor('dark'), $value)
          }
        }

        &-white {
          &-#{$key} {
            background-color: rgba(getColor('white'), $value)
          }
        }

        &-green {
          &-#{$key} {
            background-color: rgba(getColor('green'), $value)
          }
        }

        &-blue {
          &-#{$key} {
            background-color: rgba(getColor('blue'), $value)
          }
        }
      }
    }
  }
}
