//global overflow
._cs_overflow {

  //hidden 
  &-h {
    overflow: hidden;

    &--x {
      overflow-x: hidden;
    }

    &--y {
      overflow-y: hidden;
    }
  }

  //visible
  &-v {
    overflow: visible;

    &--x {
      overflow-x: visible;
    }

    &--y {
      overflow-y: visible;
    }
  }

  //auto
  &-a {
    overflow: auto;

    &--x {
      overflow-x: auto;
    }

    &--y {
      overflow-y: auto;
    }
  }

  //scroll
  &-s {
    overflow: scroll;

    &--x {
      overflow-x: scroll;
    }

    &--y {
      overflow-y: scroll;
    }
  }


}
