// all position
._cs_position {
  //positions sizes
  @each $key,
  $value in $zerofive-sizes {
    &-left-#{$key} {
      left: $value;
    }
  }
  @each $key,
  $value in $zerofive-sizes {
    &-top-#{$key} {
      top: $value;
    }
  }

  @each $key,
  $value in $zerofive-sizes {
    &-right-#{$key} {
      right: $value;
    }
  }

  @each $key,
  $value in $zerofive-sizes {
    &-down-#{$key} {
      bottom: $value;
    }
  }

  // minus positions 
  @each $key,
  $value in $zerofive-sizes {
    &-left-#{$key} {
      left: unquote('-' + $value);
    }
  }

  @each $key,
  $value in $zerofive-sizes {
    &-top-#{$key} {
      top: unquote('-' + $value);
    }
  }

  @each $key,
  $value in $zerofive-sizes {
    &-right-#{$key} {
      right: unquote('-' + $value);
    }
  }

  @each $key,
  $value in $zerofive-sizes {
    &-down-#{$key} {
      bottom: unquote('-' + $value);
    }
  }
}
// all position
._cs_position {
  //positions stypes
  @each $key,
  $value in $base-positions-types {
    &-#{$key} {
      position: $value;
    }
  }
  //positions sizes
  @each $key,
  $value in $base-size-types {
    &-left-#{$key} {
      left: $value;
    }
  }
  @each $key,
  $value in $base-size-types {
    &-top-#{$key} {
      top: $value;
    }
  }
  @each $key,
  $value in $base-size-types {
    &-right-#{$key} {
      right: $value;
    }
  }
  @each $key,
  $value in $base-size-types {
    &-down-#{$key} {
      bottom: $value;
    }
  }
// minus positions 
  @each $key,
  $value in $base-size-types {
    &-left-#{$key} {
      left:  unquote('-' + $value);
    }
  }

  @each $key,
  $value in $base-size-types {
    &-top-#{$key} {
      top:  unquote('-' + $value);
    }
  }

  @each $key,
  $value in $base-size-types {
    &-right-#{$key} {
      right:  unquote('-' + $value);
    }
  }

  @each $key,
  $value in $base-size-types {
    &-down-#{$key} {
      bottom:  unquote('-' + $value);
    }
  }
}

